.ProductCard {
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  height: 175px;
}

.container {
  border-radius: 0.25rem;
  position: relative;
  background: #222;
}

.footer {
  display: flex;
  margin-top: 1rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.footer h5,
.footer p {
  margin-bottom: 0px;
  font-weight: 400;
}

footer p {
  color: #ab7a5f;
  letter-spacing: 0.1rem;
}
